header, h1 {
font-family: Georgia, serif;
font-size: 50px;
font-style: bold;
color: white;
text-align: center;
background-image:
url("http://www.starkesports.com/images/stark4.jpg");
background-repeat: no-repeat;
background-position: center;
background-attachment: relative;
width: 100%;
height: 100%;
clear: both;
}
nav{
position: absolute;
margin: 0 0 10px 10px;
display: inline-flex;
vertical-align: top;
}
body {
color:black;
background-color: #FC4A1A;
margin-bottom: 20px;
}
p,span {
font-family: Arial, sans-serif;
font-size: 30px;
color:black;
}
.left {
    text-align: left;
}
ul {
    list-style-type: none;
    
}
.image1{
    float: left;
    width: 10%;
    margin:auto;
    position: relative;
    bottom: 20px;
    top: 0;
    right: 10px;
}
.image2 {
    width: 50%;
    padding: 10px;
    height: auto;
    position: relative;
    left: 250px;
}
#buttons {
  text-align: center;
  display: inline-block;
   border: 1px solid #666;
   padding:5px;
}
footer {
    text-align: right;   
    width: 100%;
    position: static;
    height: 10px;
}